<!-- Background image -->
<div class="bg-light">
  <div class="d-flex justify-content-center align-items-center backImage"
    style="background-image: url('assets/imgs/codeing5.avif');">
    <h1 class="text-white text-center w-50 ">
      About Us
      <p class="lead">{{desc}}</p>
    </h1>
  </div>
  <!-- Background image -->

  <div class="container d-flex justify-content-center align-items-center w-50 mt-5" id="vision">
    <div>
      <h2 class="text-center text-success">OUR VISION</h2>
      <P class="lead text-center">
        "To empower and inspire individuals with accessible and comprehensive programming
        education that prepares them for successful careers in technology and drives innovation."
      </P>
    </div>
  </div>

  <div class="container py-5 border-top" id="team">
    <div class="row text-center text-dark">
      <div class="col-lg-8 mx-auto">
        <h1 class="text-success">OUR TEAM</h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row row-cols-xl-5 row-cols-md-3 g-4 justify-content-center text-center pb-4">
      <div *ngFor="let team of Teams" >
        <div class="rounded shadow-sm py-5 px-4 bg-white">
          <img src="assets/imgs/{{team.image}}" alt="image" width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm image">
          <h5 class="mb-0">{{team.name}}</h5><span class="small text-uppercase text-muted">{{team.position}}</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item">
              <a href="{{team.links.facebook}}" class="social-link">
                <i class="fa fa-facebook"></i>
              </a></li>
            <li class="list-inline-item"><a href="{{team.links.twitter}}" class="social-link"><i
                  class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="{{team.links.instgram}}" class="social-link"><i
                  class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="{{team.links.linkedin}}" class="social-link"><i
                  class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- <app-contact></app-contact> -->
  <app-map></app-map>
</div>
