<div class="contactForm d-flex justify-content-center  align-items-center flex-column border-top mt-3">
    <h1 class="text-success mt-3">Contact Us</h1>
    <form action="/contact" class="d-flex justify-content-center flex-column  ">

        <div class="mt-3"> 
            <label for="name" class="form-label">Name:</label>
            <input type="text" class="form-control" id="name" placeholder="Enter Your Name...." name="name">
        </div>

        <div class="mt-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
        </div>

        <div class="mt-3">
            <label for="phone" class="form-label">Phone:</label>
            <input type="number" class="form-control" id="phone" placeholder="Enter Your Phone Number..." name="phone">
        </div>
        <div class="mt-3">
            <label for="message">Messages:</label>
            <textarea class="form-control" rows="5" id="message" name="message" placeholder="Write Your Message Here..."></textarea>
        </div>
       

        <button type="submit" class="btn btn-success w-25 mt-3 d-flex justify-content-center align-self-center">Submit</button>
    </form>
</div>







<!-- <a routerLink="home">go to home</a> -->